@import "tailwindcss";

/* For Chrome, Safari, Edge, and Opera */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

/* For Firefox */
.no-arrows {
   -moz-appearance: textfield;
}
